@inherits DotNetNuke.Web.Mvc.Framework.DnnWebViewPage<IEnumerable< HelloOhio.HelloOhio.Models.Item >>

@using System.Text.RegularExpressions
@using DotNetNuke.Web.Mvc.Helpers


<div>
Hello World, Hello Ohio, Hello Git!!!
</div>
